@media (max-width: 768px) {
  .usp .items,
  .events .boxes,
  .designers .cards,
  .reviews .cards {
    flex-direction: column;
  }

  .designers .card,
  .events .box {
    flex: 1 1 100%;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}
